/* Colors*/

:root {
  --color-pale-blue: hsl(243, 100%, 93%);

  --color-grayish-blue: hsl(229, 7%, 55%);

  --color-dark-blue: hsl(228, 56%, 26%);

  --color-very-dark-blue: hsl(229, 57%, 11%);

  --color-white: #ffffff;

  /* 
1. background:   rgb(255,163,153);
2. background: linear-gradient(90deg, rgba(255,163,153,1) 0%, rgba(255,77,151,1) 100%);*/

  /* article preview base color */
  --article-very-dark-grayish-blue: hsl(217, 19%, 35%);

  --article-desaturated-dark-blue: hsl(214, 17%, 51%);
  --article-grayish-blue: hsl(212, 23%, 69%);
  --article-light-grayish-blue: hsl(210, 46%, 95%);
}

/*-----------------Base settings-------------------------*/

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.touch-modify {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
